
    {{!-- esto tiene que ser el nombre de la marca --}}
   {{!-- NAVBAR --}}
   <nav class="navbar navbar-expand-lg navbar-dark bg-danger d-flex justify-content-between p-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Menú</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
      
        <li class="nav-item">
          <a class="nav-link" href="./login">Ingresá</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./products">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./register">Registrate</a>
        </li>
   
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Buscar">
        <button class="btn btn-warning my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
 {{!-- NAVBAR --}}

<div>
    <h1>LO que agrego al carrito:</h1>
    {{#each cart.products}}
  
   <p>Title: {{this.product.title}}</p>
    <p>Id: {{this.product._id}}</p>
   <p>Description: {{this.product.description}}</p>
   <p>Price:$ {{this.product.price}}</p>
   <p>Category: {{this.product.category}}</p>
    <p>Quantity: {{this.product.quantity}}</p>
 <hr>
    {{/each}}
      
</div>


<script src="/src/public/js/cart.js"></script>